{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}
  {% block Header %}
      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top">
          <div class="container d-flex align-items-center">

              <h1 class="logo me-auto"><a href="index.html"><span>Com</span>pany</a></h1>
              <!-- Uncomment below if you prefer to use an image logo -->
              <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

              <nav id="navbar" class="navbar order-last order-lg-0">
                  <ul>
                      <li><a href="index.html" class="active">Home</a></li>

                      <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                          <ul>
                              <li><a href="about.html">About Us</a></li>
                              <li><a href="team.html">Team</a></li>
                              <li><a href="testimonials.html">Testimonials</a></li>
                              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                  <ul>
                                      <li><a href="#">Deep Drop Down 1</a></li>
                                      <li><a href="#">Deep Drop Down 2</a></li>
                                      <li><a href="#">Deep Drop Down 3</a></li>
                                      <li><a href="#">Deep Drop Down 4</a></li>
                                      <li><a href="#">Deep Drop Down 5</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>

                      <li><a href="services.html">Services</a></li>
                      <li><a href="portfolio.html">Portfolio</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li class="dropdown"><a href="/users"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                          <ul>
                              <li><a href="/users">Profile</a></li>
                              <li><a href="/users">Settings</a></li>
                              <li><a href="/logout">Log out</a></li>
                              <li><a href="/admin">Dashboard admin</a></li>
                          </ul>
                      </li>

                  </ul>
                  <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->

              <div class="header-social-links d-flex">
                  <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></a>
              </div>

          </div>
      </header><!-- End Header -->
  {% endblock %}
{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h1>Envoyer un message</h1>
                {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                {{form_label(form.title,"Title") }}
                {{ form_widget(form.title) }}
                {{form_errors(form.title) }}
                {{form_label(form.message,"message") }}
                {{ form_widget(form.message) }}
                {{form_errors(form.message) }}
                {{form_label(form.recipient,"Recipient") }}
                {{ form_widget(form.recipient) }}
                {{form_errors(form.recipient) }}
                {{ form_end(form) }}


            </div>
        </div>
        <a href="{{ path('app_message') }}" class="btn btn-outline-primary">Acceuil</a>
        <a href="{{ path('app_received') }}" class="btn btn-outline-primary">Boite de réception</a>
        <a href="{{ path('app_sent') }}" class="btn btn-outline-primary">Eléments envoyés</a>
    </section>
{% endblock %}