{% extends 'base.html.twig' %}

{% block body %}
<div align="center" style="margin-top: 200px">
    {% for message in app.flashes('error') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
        </div>
    {% endfor %}
    <h1>Welcome to your profile</h1>
    <p>profil de  {{ app.user.name }} {{ app.user.firstname }}</p>
    <div>
        <div>Nom: {{ app.user.name }}</div>
        <div>Prenom: {{ app.user.firstname }}</div>
        <div>Email: {{ app.user.email }}</div>
        <a href="{{ path('users_profil_modifier') }}" class="btn btn-primary">Modifier le profil</a>
        <a href="{{ path('users_pass_modifier') }}" class="btn btn-primary">Modifier le mot de passe</a>
    </div>
</div>
{% endblock %}
